header a {
    text-decoration: none;
}
body {
    padding-left: 10%;
    padding-right: 10%;
}
.login {
    text-align: right;
}
nav ul {
    
    list-style-type: none;
}
.search {
    text-align: right;
}